<div class="mb-4">
  <ul class="nav nav-pills flex-wrap gap-2">
    <li class="nav-item">
      <a class="nav-link {% if active_tab == 'overview' %}active{% endif %}" href="{{ url_for('hr.dashboard') }}">Overview</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if active_tab == 'directory' %}active{% endif %}" href="{{ url_for('hr.directory') }}">Directory</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if active_tab == 'onboarding' %}active{% endif %}" href="{{ url_for('hr.onboarding') }}">Onboarding</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if active_tab == 'policies' %}active{% endif %}" href="{{ url_for('hr.policies') }}">Policies &amp; benefits</a>
    </li>
  </ul>
</div>
